@font-face {
	font-family: 'artiq';
	src:url('artiq.eot?oddh0b');
	src:url('artiq.eot?oddh0b#iefix') format('embedded-opentype'),
		url('artiq.ttf?oddh0b') format('truetype'),
		url('artiq.woff?oddh0b') format('woff'),
		url('artiq.svg?oddh0b#artiq') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="artiq-"], [class*=" artiq-"] {
	font-family: 'artiq';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.artiq-artiq-google:before {
	content: "\e904";
}
.artiq-artiq-instagram:before {
	content: "\e905";
}
.artiq-artiq-twitter:before {
	content: "\e900";
}
.artiq-artiq-facebook:before {
	content: "\e901";
}
.artiq-artiq-linkedin:before {
	content: "\e902";
}
.artiq-artiq-pinterest:before {
	content: "\e903";
}

